

.video-duration {
position: absolute;
	display: inline;
	height: 16px;
	line-height: 16px;
	color: #eee;
	vertical-align: top;
	opacity: 0.65;
	text-align: center;
	background: #111;
	border-radius: 3px;
	font-size: 13px;
	right: 2px;
	bottom: 3px;
	padding: 0 3px 0 3px;
}

.video:hover .img-container .video-duration {
	display: none;
}

.video:hover .img-container .mark-watched{
	display: inline
}
.video:hover .img-container .filter {
	display:inline;
}
.filter {
	position: absolute;
	display: none;
	color: #eee;
	background: #111;
	bottom: 10px;
	left: 10px;
	
}

.mark-watched {
	position: absolute;
	display: none;
	color: #eee;
	background: #111;
	bottom: 10px;
	right: 10px;
/* 	height: 16px;	 */
}

.muted {
	opacity: 0.3;
}

.video {
	float: left;
	position: relative;
	width: 200px;
/* 	height: 200px; */
	margin: 12px 4px;
	border: none;
	overflow: hidden;
}

.video img {
	opacity: 0.9;
	width: 192px;
	
}

.video .img-container {
	width: 192px;
	height: 108px;
	border-radius: 4px !important;
	position: relative;
	overflow: hidden;
}

.title {
	position: relative;
	float: left;
	padding-top: 6px;
	font-size: 90%;
	height: 3.5em;
	text-decoration: none;
	color: red;
/* 	color: #333; */
	overflow: hidden;
/* 	text-align: center; */
	font-weight: 600;
/* 	width: 90%; */
	margin-left: 5%;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
position: fixed;
  width: 100%;
  padding: 6px;
  bottom: 0;
  background: #e2e2e2;
  z-index: 200;
  box-shadow: 0 -2px 2px rgba(0,0,0,0.1);

  height: 60px;
  background-color: #f5f5f5;
}

