.video-duration {
	position: absolute;
	display: inline;
	height: 16px;
	line-height: 16px;
	color: #eee;
	vertical-align: top;
	opacity: 0.65;
	text-align: center;
	background: #111;
	border-radius: 3px;
	font-size: 13px;
	right: 2px;
	bottom: 3px;
	padding: 0 3px 0 3px;
}

.video:hover .channel {
	color: #167ac6;
}

.channel {
	color: #767676;
}

.video:hover .img-container .video-duration {
	display: none;
}

.video:hover .img-container .mark-watched {
	display: inline
}

.video:hover .img-container .filter {
	display: inline;
}

.filter {
	position: absolute;
	display: none;
	color: #333;
	background: #f8f8f8;
	bottom: 5px;
	left: 5px;
	cursor: pointer;
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: #333;
}

.watched-badge, .filtered-badge {
	position: absolute;
	top: 10px;
	padding: 2px 4px;
	line-height: 1.3em;
	text-align: left;
	opacity: 0.5;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	background-color: #000;
	cursor: pointer;
}

.watched-badge {
	left: 10px;
}

.filtered-badge {
	right: 10px;
}

.mark-watched {
	position: absolute;
	display: none;
	color: #333;
	background: #f8f8f8;
	bottom: 5px;
	right: 5px;
	cursor: pointer;
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: #333;
}

.muted {
	opacity: 0.7;
}

.byline {
	color: #767676;
}

.video {
	float: left;
	position: relative;
	width: 200px;
	height: 164px;
	margin: 12px 4px;
	border: none;
	overflow: hidden;
}

.video img {
	opacity: 0.9;
	width: 192px;
}

.video .img-container {
	width: 192px;
	height: 108px;
	border-radius: 4px !important;
	position: relative;
	overflow: hidden;
}

.title {
	display: block;
	position: relative;
	background-color: white;
	color: #167ac6;
	line-height: 1.3em;
	height: 2.6em;
	overflow: hidden;
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: bold;
	font-family: arial, sans-serif;
	right: 0;
}

.title:hover {
	color: #167ac6;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 70px;
	/* Margin bottom by footer height */
	padding-bottom: 70px;
}



.pull-center {
	text-align: center;
}

.pull-center>.nav {
	float: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 32px;
}

.navbar-right {
	margin-right: 20px;
}